@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

@font-face {
  font-family: "more_sugarregular";
  src: url("assets/fonts/moresugar-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "more_sugarthin";
  src: url("assets/fonts/moresugar-thin-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "chewyregular";
  src: url("assets/fonts/chewy-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}
